{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}

<div id="confirmModal" class="modal">
    <div class="modal-content"> 
        <p>Tem certeza que deseja excluir esta vaga?</p>
        <button id="confirmDelete" class="button_add red">Sim, excluir</button>
        <button id="cancelDelete" class="button_add">Cancelar</button>
    </div>
</div>

<div class="page margin_paginas">
    <div class="flex fill">
        <div class="flex_column-center card container min_heigth width90">
            <div class="fill flex_end">
                <a href="/empresas/vagas/criarvaga">
                    <button class="salvar_curriculo margin_top30">Criar nova vaga!</button>
                </a>
            </div>
                <h1 class="margin_top40" style="position: absolute;">Suas Vagas:</h1>
            {{#each vagas}}
            <div  class="card container width90 margin_top20 margin_bottom20 flex_row flex_column-SB">
                <div class="card-body">
                    <div class="flex_row">
                        <h2>{{titulo}}</h2>
                        <h3 class="margin_left"> - {{candidaturas}} candidaturas</h3>
                    </div>
                    <p>{{{limitaDesc descricao}}}</p>
                    <p class="margin_top10">Data: {{formatarData data}}</p>
                    <div class="flex">
                        <form action="/empresas/vagas/{{titulo}}/candidaturas" method="post">
                            <input type="hidden" name="id" value="{{_id}}">
                            <button class="button_add margin_top20 large" type="submit">Vizualizar {{candidaturas}} Candidatos</button>
                        </form>
                        <form action="/empresas/vagas/{{titulo}}/selecionados" method="post" class="margin_left">
                            <input type="hidden" name="id" value="{{_id}}">
                            <button class="button_add margin_top20 large" type="submit">Vizualizar Selecionados</button>
                        </form>
                    </div>
                </div>
                <div class="flex_column-meio">
                    <a href="/empresas/vagas/editar/{{_id}}"><button class="button_add yell">Editar Vaga</button></a>
                    <form action="/empresas/vagas/excluir" method="post">
                        <input type="hidden" name="id" value="{{_id}}">
                        <button type="submit" class="button_add margin_top margin_bottom10 red delete-button">Encerrar/Excluir Vaga</button>
                    </form>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>

        
    </div>
</div>

<script src="/js/vaga.js"></script>