<head>
    <link rel="stylesheet" href="/css/curriculo.css">
    <script src="/js/curriculo_emp.js"></script>
</head>
{{#if positivo}}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const formacoes = JSON.parse('{{{formacoes}}}');
            const experiencias = JSON.parse('{{{experiencias}}}');
            const idiomas = JSON.parse('{{{idiomas}}}');
            const habilidades = JSON.parse('{{{habilidades}}}');

            atualizarVariaveis(formacoes, experiencias, idiomas, habilidades);
        });
    </script>
{{/if}}
{{#if view}}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const form = document.querySelector('#curriculo_form')
        const elementos = form.querySelectorAll('input, select, textarea, button')
        
        elementos.forEach(elemento => {
            if (elemento.tagName === 'BUTTON') {
                elemento.remove()
            } else {
                elemento = true
            }
        });
    });
</script>
{{/if}}

{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}
{{/each}}


<div class="fundo_curriculo">
    <div class="cloco_curriculo">
        <form action="/empresas/vagas/{{vaga.titulo}}/{{usuario.nome}}/contato" method="post" id="curriculo_form">
            <input type="hidden" name="formacoes" id="formacoes-hidden">
            <input type="hidden" name="experiencias" id="experiencias-hidden">
            <input type="hidden" name="idiomas" id="idiomas-hidden">
            <input type="hidden" name="habilidades" id="habilidades-hidden">
            <input type="hidden" name="id_vaga" value="{{vaga._id}}">
            <input type="hidden" name="id_user" value="{{usuario._id}}">

            <div class="dados">
                <div class="divtitulo">Curriculum Vitae</div>
            </div>

            <!-- DADOS PESSOAIS -->
            <div class="dados">
                <div class="secao_texto">
                    <header> Dados Pessoais</header>
                    <p class="sublink">Garantimos a segurança e a confidencialidade de todos os dados pessoais introduzidos em seu cadastro.</p>
                </div>
                <div class="secao_campos">
                    <ol class="list_flex width100">
                        <li class="margin20">
                            <div class="Form_Title">Nome</div>
                            <input disabled value="{{usuario.nome}}" class="campo_curriculo" type="text" name="nome" id="nome">
                            <div class="erro_preencimento"></div>
                        </li>
                        <li>
                            <div class="Form_Title">Sobrenome</div>
                            <input disabled value="{{usuario.sobrenome}}" class="campo_curriculo" type="text" name="sobrenome" id="sobrenome">
                            <div class="erro_preencimento"></div>
                        </li>
                        <li class="li_group li_resumo">
                            <div class="Form_Title">Resumo</div>
                            <textarea disabled class="campo_curriculo height15rem div100" name="resumo" id="myTextarea" placeholder="Descreva brevemente suas habilidades, conehcimentos, interesses e pretensões futuras">{{#if curriculo.resumo}}{{curriculo.resumo}}{{/if}}</textarea>
                        </li>
                        <li class="li_group li_small">
                            <div class="Form_Title">Idade:</div>
                            <div>
                                <input disabled value="{{curriculo.idade}}" class="campo_curriculo div30" type="number" id="idade" name="idade">
                            </div>
                            <div class="erro_preencimento"></div>
                        </li>
                        <li class="li_group">
                            <div class="Form_Title">Estado Civil</div>
                            <select disabled class="campo_curriculo" name="estado_civil" id="">
                                <option value="0">Estado Civil</option>
                                <option value="1" {{#if (eq curriculo.estado_civil 1)}}selected{{/if}}>Solteiro(a)</option>
                                <option value="2" {{#if (eq curriculo.estado_civil 2)}}selected{{/if}}>Casado(a)</option>
                                <option value="3" {{#if (eq curriculo.estado_civil 3)}}selected{{/if}}>Divorciado(a)</option>
                                <option value="4" {{#if (eq curriculo.estado_civil 4)}}selected{{/if}}>Viúvo(a)</option>
                            </select>
                            <div class="erro_preencimento"></div>
                        </li>
                        <li class="li_group">
                            <div class="Form_Title">Sexo</div>
                            <select disabled class="campo_curriculo" name="sexo" id="">
                                <option value="0">Não Esecificado</option>
                                <option value="1" {{#if (eq curriculo.sexo 1)}}selected{{/if}}>Masculino</option>
                                <option value="2" {{#if (eq curriculo.sexo 2)}}selected{{/if}}>Feminino</option>
                            </select>
                            <div class="erro_preencimento"></div>
                        </li>
                        <li class="li_group">
                            <input disabled name="deficiencia" class="" type="checkbox" id="deficiency_positive" onclick="ShowDeficiency(this)"  {{#if curriculo.deficiencia}}checked{{/if}}>
                            {{#if curriculo.deficiencia}}
                                <script>
                                    document.addEventListener('DOMContentLoaded', function(){
                                        ShowDeficiency(this)
                                    })
                                </script>
                            {{/if}}
                            <label for="deficiency_positive">Pessoa com deficiencia</label>
                            <div class="opçoes_deficiencias">
                                <ul id="deficiency" class="hidden li_group">
                                    <div class="input_label">
                                        <input disabled value="{{curriculo.deficiencia_txt}}" class="campo_curriculo" type="text" name="deficiencia_txt" id="">
                                        <label for="deficiencia_txt">Qual?</label>
                                    </div>
                                </ul>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
            <!-- FORMAÇÃO ACADEMICA/CURSOS  -->
            <div class="dados">
                <div class="secao_texto">
                    <header>Formação Academica</header>
                </div>
                <div class="secao_campos">
                    <ul>
                        <li>
                            <div class="formacao_salva hidden"></div>
                        </li>
                        <li>
                            <ol>
                                <li>
                                    <div class="addList" id="formacaoesList">
                                    </div>
                                </li>
                            </ol>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- EXPERIÊNCIAS PROFISSIONAIS -->
            <div class="dados">
                <div class="secao_texto">
                    <header>Experiências Profissionais</header>
                </div>
                <div class="secao_campos">
                    <ul>
                        <li>
                            <div class="experiencia_salva hidden"></div>
                        </li>
                        <li>
                            <ol class="addnew">
                                <li>
                                    <div class="addList" id="experienciasList"></div>
                                </li>
                            </ol>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- IDIOMAS -->
            <div class="dados">
                <div class="secao_texto">
                    <header>Idiomas</header>
                </div>
                <div class="secao_campos">
                    <ul>
                        <li>
                            <div class="idioma_salvo hidden"></div>
                        </li>
                        <li>
                            <ol class="addnew">
                                <li>
                                    <div class="addList" id="idiomasList">
                                    </div>
                                </li>
                            </ol>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- HABILIDADES E COMPETENCIAS -->
            <div class="dados">
                <div class="secao_texto">
                    <header>Habilidades e Competencias</header>
                </div>
                <div class="secao_campos">
                    <ul class="div80">
                        <li>
                            <div class="hability_salva" id="hability_salva">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- IFORMAÇÕES COMPLEMENTARES -->
            <div class="dados">
                <div class="secao_texto">
                    <header>Iformações Complementares</header>
                </div>
                <div>
                    <ol>
                        <li>
                            <div class="campo_hab">Tem habilitação para dirigir? Qual?</div>
                            <ul class="list_flex">
                                <li class="margin20 ">
                                    <input disabled type="checkbox" name="moto" id="moto" {{#if curriculo.moto}}checked{{/if}}>
                                    <label for="moto">A</label>
                                </li>
                                <li class="margin20 list_flex">
                                    <input disabled value="1" class="margin10" type="radio" name="veiculo" id="b"  {{#if (eq curriculo.carro 1)}}checked{{/if}}>
                                    <label for="b">B</label>
                                </li>
                                <li class="margin20 list_flex">
                                    <input disabled value="2" class="margin10" type="radio" name="veiculo" id="c" {{#if (eq curriculo.carro 2)}}checked{{/if}}>
                                    <label for="c">C</label>
                                </li>
                                <li class="margin20 list_flex">
                                    <input disabled value="3" class="margin10" type="radio" name="veiculo" id="d" {{#if (eq curriculo.carro 3)}}checked{{/if}}>
                                    <label for="d">D</label>
                                </li>
                                <li class="margin20 list_flex">
                                    <input disabled value="4" class="margin10" type="radio" name="veiculo" id="e" {{#if (eq curriculo.carro 4)}}checked{{/if}}>
                                    <label for="e">E</label>
                                </li>
                            </ul>
                        </li>
                        <li class="li_group">
                            <div class="campo_hab">Tem Disponibilidade para viajar?</div>
                            <ul class="list_flex">
                                <li class="margin20">
                                    <input disabled value="true" type="radio" name="viagem" id="viagem_sim"  {{#if curriculo.viagem}}checked{{/if}}>

                                    <label for="viagem_sim">Sim</label>
                                </li>
                                <li class="margin20">
                                    <input disabled value="false" type="radio" name="viagem" id="viagem_nao" {{#if (neq curriculo.viagem true)}}checked{{/if}}>
                                    <label for="viagem_nao">Não</label>
                                </li>
                            </ul>
                        </li>
                        <li class="li_group">
                            <div class="campo_hab">Tem Disponibilidade para mudar de residencia?</div>
                            <ul class="list_flex">
                                <li class="margin20">
                                    <input disabled value="true" type="radio" name="mudanca" id="mudar_sim" {{#if curriculo.mudanca}}checked{{/if}}>
                                    <label for="mudar_sim">Sim</label>  
                                </li>
                                <li class="margin20">
                                    <input disabled value="false" type="radio" name="mudanca" id="mudar_nao" {{#if (neq curriculo.mudanca true)}}checked{{/if}}>
                                    <label for="mudar_nao">Não</label>
                                </li>
                            </ul>
                        </li>
                    </ol>
                </div>
            </div>
            <!-- OBJETIVOS PROFISSIONAIS -->
            <div class="dados">
                <div class="secao_texto">
                    <header>Objetivos Profissionais</header>
                </div>
                <div class="secao_campos">
                    <ol class="list_flex">
                        <li class="li_group">
                            <div class="input_label">
                                <div class="erro_preencimento" id="erro_preencimento_jornada"></div>
                                <div>
                                    <div>Jornada</div>
                                    <select disabled class="campo_curriculo" name="jornada" id="jornada">
                                        <option value="">Selecione uma opção</option>
                                        <option value="5" {{#if (eq curriculo.jornada 5)}}selected{{/if}}>Noturno</option>
                                        <option value="4" {{#if (eq curriculo.jornada 4)}}selected{{/if}}>Parcial manhãs</option>
                                        <option value="3" {{#if (eq curriculo.jornada 3)}}selected{{/if}}>Parcial noites</option>
                                        <option value="2" {{#if (eq curriculo.jornada 2)}}selected{{/if}}>Parcial tardes</option>
                                        <option value="1" {{#if (eq curriculo.jornada 1)}}selected{{/if}}>Período Integral</option>
                                    </select>
                                </div>
                            </div>
                        </li>
                        <li class="li_group">
                            <div class="input_label">
                                <div class="erro_preencimento" id="erro_preencimento_contrato"></div>
                                <div>
                                    <div>Tipo de contrato</div>
                                    <select disabled class="campo_curriculo" name="tipo_contrato" id="tipo_contrato">
                                        <option value="">Selecione uma opção</option>
                                        <option value="1" {{#if (eq curriculo.tipo_contrato 1)}}selected{{/if}}>Efetivo – CLT</option>
                                        <option value="2" {{#if (eq curriculo.tipo_contrato 2)}}selected{{/if}}>Estágio</option>
                                        <option value="3" {{#if (eq curriculo.tipo_contrato 3)}}selected{{/if}}>Jovem Aprendiz</option>
                                        <option value="4" {{#if (eq curriculo.tipo_contrato 4)}}selected{{/if}}>Autônomo</option>
                                        <option value="5" {{#if (eq curriculo.tipo_contrato 5)}}selected{{/if}}>Cooperado</option>
                                        <option value="6" {{#if (eq curriculo.tipo_contrato 6)}}selected{{/if}}>Prestador de Serviços (PJ)</option>
                                        <option value="7" {{#if (eq curriculo.tipo_contrato 7)}}selected{{/if}}>Temporário</option>
                                        <option value="8" {{#if (eq curriculo.tipo_contrato 8)}}selected{{/if}}>Trainee</option>
                                        <option value="9" {{#if (eq curriculo.tipo_contrato 9)}}selected{{/if}}>Outros</option>
                                    </select>
                                </div>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
            <!--  -->
            <div class="dados bloco_salvar">
                <div class="bloco_salvar">
                    <button class="flex_column-center salvar_curriculo" type="submit">
                        <p>Selecionar Candidato</p>
                        <p>Ver dados de contato</p>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

